/.vscode/
*.a
*.so
*.o
*.dSym
*.pid
*.exe
*.log
build/export_generators/gradle/.gradle
/build-out/
/dist/
/tools/tpcectl/tpcectl
*.tar.xz
/tpcc/app/pgsql/tpcc-pgsql
/tpcc/app/ydb/tpcc-ydb

# ya make test artifacts
tpcc/**/ut/test-results
tpcc/**/ut/tpcc-*-ut
